@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&family=Syne+Mono&display=swap');
/*
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Syne Mono', monospace;
*/
body{
    transition: all 0.5s ease;
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}
.text{
    color: black;
}

.normal{
    font-size: 20px;
}

.header{
    font-family: 'Comfortaa', cursive;
}

.subtitle{
    font-size: 25px;
    color: #677250;
}

.bold{
    color: #677250;
    font-weight: 800;
}

.intro{
    /*font-family: 'Comfortaa', cursive;*/
}

.padding{
    display: block;
    height: 70px;
}

.dim-img{
    width: 100%;
    height: auto;
}

.img-tutorial{
    width: 60%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.top{
    position: fixed;
    height: 50px;
    background-color: #1d7def;
    color: white;
    width: 100%;
    padding: 30,10;
}

.jumbotron-margin-bottom{
    margin-bottom: 30px;
}

.btn-primary{
    background-color: #1d7def;
}

.mini-card{
    margin: 20px, 0px;
}

.mini-card-svg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 5em;
    margin-bottom: 15px;
}

.mini-card-p{
    text-align: center;
    font-size: 25px;
}

.screenshot{
    margin: 40px, 0px, 40px, 0px;

}

.btn{ 
    border-radius: 13px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}

.btn-primary{
    color: white !important;
    background-color: #677250;
    border-color: #677250;
}
.btn-primary:hover{
    color: white !important;
    background-color: #4e573b;
    border-color: #4e573b;
}
.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4e573b;
    border-color: #4e573b;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #9EA482;
}
.btn-primary:focus {
    color: #fff;
    background-color: #4e573b;
    border-color: #4e573b;
    box-shadow: 0 0 0 .2rem #9EA482;
}

.btn-secondary{
    color: black !important;
    background-color: #CDC5B2;
    border-color: #CDC5B2;
}
.btn-secondary:hover{
    color: black !important;
    background-color: #a7a090;
    border-color: #a7a090;
}
.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #a7a090;
    border-color: #a7a090;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #EDE6DE;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #a7a090;
    border-color: #a7a090;
    box-shadow: 0 0 0 .2rem #EDE6DE;
}

.hr{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}
.btn-first{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mini-div-hr{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}



.nav-link{
    font-size: medium;
    color: white !important;
}

/*DarkMode classes*/

.background-dark{
    background-color: #232323;
}

.text-dark{
    color: #b8b8b8 !important;
}

.btn-primary-dark{
    background-color: #2a2e20;
    border-color: #2a2e20;
    color: #ffffff !important;
}
.btn-primary-dark:hover{
    background-color: #161811;
    border-color: #161811;
    color: #ffffff !important; 
}

.btn-secondary-dark{
    color: white !important;
    background-color: #131313;
    border-color: #131313;
}
.btn-secondary-dark:hover{
    color: white !important;
    background-color: #000000;
    border-color: #000000;
}
.ht-dark{
    background-color: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}

.jumbotron-dark{
    background-color: #292929;
    color: #ffffff;
}

.alert-info-dark{
    color: #d6f9ff !important;
}


@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 
    .mini-div-hr{
        display: none;
    }
 }


@media (min-width: 992px) { 
    
 }


@media (min-width: 1200px) { 
   
 }
