@charset "utf-8";

body{
    transition: all 0.5s ease;
}

.dim-img{
    width: 100%;
    height: auto;
}


.top{
    position: fixed;
    height: 50px;
    background-color: #1d7def;
    color: white;
    width: 100%;
    padding: 30,10;
}

.jumbotron-margin-bottom{
    margin-bottom: 30px;
}

.btn-primary{
    background-color: #1d7def;
}

.mini-card{
    margin: 20px, 0px;
}

.mini-card-svg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 5em;
    margin-bottom: 15px;
}

.mini-card-p{
    text-align: center;
    font-size: 25px;
}

.screenshot{
    margin: 40px, 0px, 40px, 0px;

}

.btn{ 
    border-radius: 100px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}

.hr{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}
.btn-first{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mini-div-hr{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text{
    color: black;
}

.nav-link{
    font-size: medium;
}

/*DarkMode classes*/

.background-dark{
    background-color: #232323;
}

.text-dark{
    color: #b8b8b8 !important;
}

.btn-primary-dark{
    background-color: #061e3b;
    border-color: #061e3b;
    color: #ffffff !important;
}
.btn-primary-dark:hover{
    background-color: #000b18;
    border-color: #000b18;
    color: #ffffff !important; 
}

.btn-secondary-dark{
    background-color: #131313;
    border-color: #131313;
}
.btn-secondary-dark:hover{
    background-color: #000000;
    border-color: #000000;
}
.ht-dark{
    background-color: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}


@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 
    .mini-div-hr{
        display: none;
    }
 }


@media (min-width: 992px) { 
    
 }


@media (min-width: 1200px) { 
   
 }
